---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import { Navbar } from "@components/Navbar.tsx";
import FormattedDate from "@components/FormattedDate.astro";

import "../../styles/Theme.css";
import "../../styles/Diagonals.css";
import "../../styles/BlogArticle.css";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title + " | Alexey Antipov"}
  desc={post.data.desc}
  image={post.data.image.src}
>
  <Navbar client:load currentPath={Astro.url.pathname} />
  <main
    class="blog-article hero-bg-gradient flex w-screen items-center justify-center bg-customDarkBg1 pb-24 pt-16 sm:pb-32 md:pb-44 md:pt-16 lg:pb-24 lg:pt-24"
  >
    <article
      class="flex w-full flex-col items-center justify-center px-6 text-center sm:px-24 md:w-[800px] xl:w-[900px]"
    >
      <div
        class="mt-10 text-sm font-normal text-customGrayText sm:px-48 sm:text-base lg:text-base"
      >
        <FormattedDate date={post.data.date} />
      </div>
      <h1 class="mt-2 text-4xl text-slate-200">{post.data.title}</h1>

      <div
        class="mt-4 max-w-full text-left text-lg font-normal text-slate-200 sm:text-xl"
      >
        <Content />
      </div>
    </article>
  </main>
  <Footer />
</Layout>
