---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";

import "../../styles/BlogArticle.css";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<Layout
  title={post.data.title + " | Alexey Antipov"}
  desc={post.data.desc}
  image={post.data.image.src}
>
  <Navbar />
  <main
    class="blog-article hero-bg-gradient flex w-screen items-center justify-center bg-customDarkBg1 pb-24 pt-16 sm:pb-32 md:pb-44 md:pt-16 lg:pb-24 lg:pt-24"
  >
    <article
      class="flex w-full flex-col items-center justify-center px-6 text-center sm:px-24 md:w-[800px] xl:w-[900px]"
    >
      <div class="mt-10 text-sm font-normal text-customGrayText sm:text-base">
        <FormattedDate date={post.data.date} />
        <span class="mx-3">/</span>
        {remarkPluginFrontmatter.minutesRead}
      </div>
      <h1 class="mb-10 mt-2 text-4xl text-slate-200">{post.data.title}</h1>

      {
        post.data.heroImage && (
          <div class="sm:-mx-12">
            <Image
              src={post.data.heroImage}
              loading="eager"
              alt={post.data.heroAlt || ""}
            />
          </div>
        )
      }

      <div
        class="mt-4 max-w-full text-left text-lg font-normal text-slate-200 sm:text-xl"
      >
        <Content />
      </div>
    </article>
  </main>
  <Footer />
</Layout>
